<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">

    <script src="layui/layui.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/vue.js"></script>

    <title>菜单-美食天下</title>
</head>
<body>
<ul class="layui-nav" lay-filter="">

    <li style="float: left" ><div style="margin-top: 5px"><img src="picture/logo/logo.png" width="100px" height="50px"></div></li>
    <li class="layui-nav-item"><a href="index.html">首页</a></li>
    <li class="layui-nav-item layui-this"><a href="">菜谱</a></li>
    <li class="layui-nav-item"><a href="">饮食文化</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;">后台服务</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">评价</a></li>
    <div style="float: right">
        <span id="dd">
            <span v-if="seen"><li class="layui-nav-item"><a href="login.html">登录</a></li>
                <li class="layui-nav-item"><a href="register.html">注册</a></li></span>
        <li class="layui-nav-item">
            <a href="">个人中心<span class="layui-badge-dot"></span></a>
        </li>
        <li class="layui-nav-item layui-anim-rotate">

            <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img"><span id="user">我</span></a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:loginout()">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="qingdan.html">下单结算</a></li>
    </div>
    <a id="top"></a>
</ul>
<div class="container">
    <div class="row">
        <div class="col-md-2" style="margin-top: 30px;width: 150px">
            <img alt="Brand" src="picture/logo/logo.png" height="80px" width="150px" >

        </div>
        <div class="col-md-1" style="margin-top: 60px;width:150px">
            <a href="caidanshouye.html"><button class="layui-btn layui-btn-radius layui-btn-warm" >菜谱</button></a>
        </div>
        <div class="col-md-8">
            <div style="margin-top: 60px;" >
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="caidanshouye.html">菜谱首页</a></li>

                    <li role="presentation" class="active"><a href="caidan.html">菜单</a></li>
                    <li role="presentation" class="active"><a href="paihang.html">排行</a></li>
                    <li role="presentation" class="active"><a href="#">食材</a></li>
                    <li role="presentation" class="active"><a href="#">食疗食补</a></li>

                </ul>
            </div>
        </div>

    </div>


    <div class="row" >
        <div id="info" >
            <div v-for="p in infos" >
                <div class="col-xs-6 col-md-3" style="width: 292px;height: 380px">
                    <div class="thumbnail layui-anim layui-anim-scaleSpring ">
                        <a @click="xiangqing(p.kId)">
                            <img :src="p.kPicture" alt="..."></a>
                    </div>
                    <div class="caption" style="text-align: center">
                        <h3 style="font-size: large">{{p.kName}}</h3>
                        <p style="color: grey;">{{p.kComm}}</p>
                        <p><span>{{p.kPrice}}</span><span>元</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a @click="spdetail(p.kId)" class="btn btn-primary" role="button">下单</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--分页-->
    <div class="row" style="margin-top: 100px">
        <div class="col-lg-12">
            <div id="dvpage" style="text-align: center"></div>
        </div>
    </div>


    <hr>
    <div id="d3">
        <strong ><a href="" style="color: coral">美食天下 - 让吃更美好</a></strong>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div style="margin-top: 15px">
                <li style="float: left; "><a>关于我们</a><span>&gt;&gt;&gt;</span></li>
                <li style="float: left"><a>联系我们</a><span>&gt;&gt;&gt;</span></li>
                <li style="float: left"><a>加入我们</a><span>&gt;&gt;&gt;</span></li>
                <li style="float: left"><a>服务声明</a><span>&gt;&gt;&gt;</span></li>
                <li style="float: left"><a>友情链接</a><span>&gt;&gt;&gt;</span></li>
                <li style="float: left"><a>网站地图</a></li>


            </div>
        </div>
        <div class="col-md-1">
            <div class="thumbnail" style="height: 110px;width: 100px;">
                <img src="picture/erweima/20190223200306.jpg" alt="..." style="height: 100px;width: 100px;">

            </div>
            <div class="caption" style="text-align: center">
                <h3 style="font-size: small"> &nbsp;&nbsp;&nbsp;美食网</h3>
            </div>
        </div>

    </div>
    <div>
        <strong>友情链接：</strong>&nbsp;&nbsp;
        <a style="color: grey;font-size: small">愉悦妈妈</a>&nbsp;&nbsp;
        <a style="color: grey;font-size: small">自乐游</a>&nbsp;&nbsp;
        <a style="color: grey;font-size: small">爱奇艺生活</a>&nbsp;&nbsp;
        <a style="color: grey;font-size: small">中华美食网</a>&nbsp;&nbsp;
        <a style="color: grey;font-size: small">太平洋亲子网</a>&nbsp;&nbsp;
        <a style="color: grey;font-size: small">美食杰</a>&nbsp;&nbsp;
        <a style="color: grey;font-size: small">红餐肉</a>&nbsp;&nbsp;
        <a style="color: grey;font-size: small">食品商务网</a>&nbsp;&nbsp;
        <a style="color: grey;font-size: small">妈妈网</a>&nbsp;&nbsp;
        <a style="color: grey;font-size: small">亲宝网</a>&nbsp;&nbsp;
        <a style="color: grey;font-size: small">糖豆网</a>&nbsp;&nbsp;
        <a style="color: grey;font-size: small">慧聪网</a>&nbsp;&nbsp;
        <div class="container">
            <a href="#top" style="float: right"><img src="picture/logo/gotop.png" style="position:fixed;bottom:0;height: 70px;height: 70px"></a>
        </div>
    </div>
    <div style="margin-top: 15px;color: grey;font-size: small;" >
        <li>版权所有&nbsp;&nbsp;@&nbsp;&nbsp;2014-2019&nbsp;&nbsp;
            <a style="color: grey">美食天下</a>&nbsp;&nbsp;保留所有版权-
            <a style="color: grey"><img src="picture/logo/beian.png"> 京公网安备 11010502031041号 </a>&nbsp;&nbsp;
            <img src="picture/logo/1550926251(1).png" style="float: right;"  >
        </li>
    </div>

    <!-- 条目中可以是任意内容，如：<img src=""> -->


    <script>
        var totalCount = 0;
        layui.use(['carousel','laypage'], function(){
            var carousel = layui.carousel;
            var laypage = layui.laypage;
            //建造实例
            laypage.render({
                elem:'dvpage',
                count:totalCount,
                limit:12,
                jump:function(obj,first) {
                    var currentPage = obj.curr;
                    load(currentPage);
                }
            })
            carousel.render({
                elem: '#test1'
                ,width: '100%' //设置容器宽度
                ,arrow: 'always' //始终显示箭头
                //,anim: 'updown' //切换动画方式
            });
        });

        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
            var element = layui.element;


        });

        function load(page) {
            $.ajax({
                type:"post",
                url:"caipin/listPage.do?page=" + page,
                dataType:"json",
                async:false,
                success:function(data){
                    // _this.list=data.info
                    // console.log(_this.list)
                    if (data.code==1){
                        totalCount=data.info.total;
                        vue.infos=data.info.rows;
                    }
                },
                error:function() {
                    alert("ajax请求失败");
                }
            })
        }
        function loginout() {
            $.ajax({
                type:"get",
                url:"user/loginout.do",
                dataType:"json",
                success:function(data) {
                    if (data.code==1){
                        window.location.href="index.html";
                    }
                },
                error:function () {
                    alert("ajax请求异常");
                }
            })
        }
    </script>
    <script>
        var app = new Vue({
            el:"#dd",
            data:{
                seen:true
            }
        })

        $(function() {
            $.ajax({
                type:"post",
                url:"user/login1.do",
                dataType:"json",
                success:function(data) {
                    if (data.code == 1) {
                        var infos = data.info;
                        $("#user").html(infos.uName);
                        if (infos != null) {
                            app.seen=false;
                        } else {
                            alert(infos.uName);
                            $("#user").html(infos.uName);
                        }
                    }
                },
                error:function () {
                    alert(data.info);
                }
            })
            load(1);
        })
    </script>
    <script>
        var vue = new Vue({
            el: '#info',//el后面绑定元素块的#id
            data: {
                infos:null,
            },

            methods: {
                spdetail: function (id) {
                    $.ajax({
                        type:"post",
                        url:"order/addOrder.do?oKId="+ id,
                        dataType:"json",
                        async:false,
                        success:function(data){
                            if (data.code==1) {
                                alert("确认点菜？");
                               // window.location.href="index.html";
                            } else {
                                alert(data.info);
                            }
                        },
                        error:function() {
                            alert("ajax请求失败");
                        }
                    })
                },
                xiangqing:function(id) {
                    window.location.href="danpincaidanpingjia.html?kId="+id;
                }
            }


        })



    </script>
    <!--info数据Vue-->
    <!--<script>
        var appData=new Vue({
            el: '#info',
            data: {
                list:[]
            },

            mounted(){
              var page =  window.location.search;
                var _this=this;
                $.ajax({
                    type:"post",
                    url:"caipin//list.do",
                    dataType:"json",
                    async:false,
                    success:function(data){

                        _this.list=data.info;
                        console.log(_this.list)
                    },
                    error:function() {
                        alert("ajax请求失败");
                    }
                })
            },
            methods: {
                spdetail: function (id) {
                    $.ajax({
                        type:"post",
                        url:"order/addOrder.do?oKId="+ id,
                        dataType:"json",
                        async:false,
                        success:function(data){
                            if (data.code==1) {
                                window.location.href="caidan.html";
                            } else {
                                alert(data.info);
                            }
                        },
                        error:function() {
                            alert("ajax请求失败");
                        }
                    })
                }
            }
        })
    </script>
-->
</div>
</body>
</html>