<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="layui/layui.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/vue.js"></script>
    <title>一周热门-美食天下</title>
    <style>
        #d5{
            text-decoration: underline coral solid;
        }
        #d6:hover{
            color: orangered;
        }
    </style>

</head>
<body>
<ul class="layui-nav" lay-filter="">

    <li style="float: left" ><div style="margin-top: 5px"><img src="picture/logo/logo.png" width="100px" height="50px"></div></li>
    <li class="layui-nav-item"><a href="index.html">首页</a></li>
    <li class="layui-nav-item layui-this"><a href="">菜谱</a></li>
    <li class="layui-nav-item"><a href="">饮食文化</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;">后台服务</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">评价</a></li>
    <div style="float: right">
        <span id="dd">
            <span v-if="seen"><li class="layui-nav-item"><a href="javascript:add()">登录</a></li>
                <li class="layui-nav-item"><a href="javascript:zhuce()">注册</a></li></span>
        <li class="layui-nav-item">
            <a href="">个人中心<span class="layui-badge-dot"></span></a>
        </li>
        <li class="layui-nav-item layui-anim-rotate">

            <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img" ><span id="user">我</span></a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:loginout()">退出</a></dd>
            </dl>
        </li>

    </div>
    <a id="top"></a>
</ul>
<div class="container">
    <div class="row">
        <div class="col-md-2" style="margin-top: 30px;width: 150px">
            <img alt="Brand" src="picture/logo/logo.png" height="80px" width="150px" >

        </div>

        <div class="col-md-8">
            <div style="margin-top: 60px;" >
                <p style="font-size: x-large;color: orangered;margin-left: 200px">以下为您所选狗粮，请下单！！！</p>
            </div>
        </div>

    </div>
    <div class="row">
       <!-- <div class="col-md-2">
            <div class="sub_top fl" style="margin-left: 100px;margin-top: 30px">
                <input type="checkbox" value="quanxuan" class="quanxuan" onclick="swapCheck()"/>全选
            </div>
        </div>-->
        <div class="col-md-10">
            <div id="info">
                <div v-for="p in list">
                    <div class="col-md-9">
                        <div class="row" style="margin-top: 70px;margin-left: 100px">
                            <!--<div class="col-md-1"style="margin-top: 80px">
                                <input type="checkbox" value="quanxuan" class="quanxuan" />
                            </div>-->
                            <div class="col-xs-6 col-md-3">
                                <div class="thumbnail layui-anim layui-anim-scaleSpring ">
                                    <img :src="p.kPicture" alt="...">

                                </div>

                            </div>

                            <div class="col-xs-6 col-md-3" style="margin: 15px" >

                                <h3 style="font-size: large"><strong>{{p.kName}}</strong></h3>
                                <p style="color: grey;">天国的女儿</p>
                                <p>{{p.kComm}}</p>
                                <p><span>{{p.kPrice}}</span><span>元</span></p>

                            </div>
                            <div class="col-md-1" style="float: right;margin-top: 80px">
                                <a @click="spdetail(p.kId)"><img src="picture/logo/shanchu.png" style="height: 30px;width: 30px"></a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12" >
                <p style="float: left;margin-left: 80px "><a href="index.html"  id="d6">继续选择</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <!--<p style="float: left">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <div id="d6">
                    <p style="float: left">共</p>
                    <p style="float: left" id="totalNum">2</p>
                    <p style="float: left">个选择，</p>
                </div>
                <div id="d6">
                    <p style="float: left"> 已选择</p>
                    <p style="float: left" id="selNum">1</p>
                    <p style="float: left">个</p>
                </div>-->


                <p style="float: right;margin-right: 80px" class="layui-btn layui-btn-danger" >去结算</p>
                <div style="margin-top: 10px;color: orangered">
                    <p style="float: right;margin-right: 50px">元</p>
                    <p style="float: right" name="totalPrice">199</p>
                    <p  style="float: right">合计:</p>
                </div>


            </div>



        </div>

        <hr style="background-color: orangered;height: 3px">



        <div class="row">
            <div class="col-md-8">
                <div id="d3">
                    <strong ><a href="" style="color: coral">美食天下 - 让吃更美好</a></strong>
                </div>
                <div style="margin-top: 15px">
                    <li style="float: left; "><a>关于我们</a><span>&gt;&gt;&gt;</span></li>
                    <li style="float: left"><a>联系我们</a><span>&gt;&gt;&gt;</span></li>
                    <li style="float: left"><a>加入我们</a><span>&gt;&gt;&gt;</span></li>
                    <li style="float: left"><a>服务声明</a><span>&gt;&gt;&gt;</span></li>
                    <li style="float: left"><a>友情链接</a><span>&gt;&gt;&gt;</span></li>
                    <li style="float: left"><a>网站地图</a></li>


                </div>
            </div>
            <div class="col-md-1">
                <div class="thumbnail" style="height: 110px;width: 100px;">
                    <img src="picture/erweima/20190223200306.jpg" alt="..." style="height: 100px;width: 100px;">

                </div>
                <div class="caption" style="text-align: center">
                    <h3 style="font-size: small"> &nbsp;&nbsp;&nbsp;美食网</h3>
                </div>
            </div>

        </div>
        <div>
            <strong>友情链接：</strong>&nbsp;&nbsp;
            <a style="color: grey;font-size: small">愉悦妈妈</a>&nbsp;&nbsp;
            <a style="color: grey;font-size: small">自乐游</a>&nbsp;&nbsp;
            <a style="color: grey;font-size: small">爱奇艺生活</a>&nbsp;&nbsp;
            <a style="color: grey;font-size: small">中华美食网</a>&nbsp;&nbsp;
            <a style="color: grey;font-size: small">太平洋亲子网</a>&nbsp;&nbsp;
            <a style="color: grey;font-size: small">美食杰</a>&nbsp;&nbsp;
            <a style="color: grey;font-size: small">红餐肉</a>&nbsp;&nbsp;
            <a style="color: grey;font-size: small">食品商务网</a>&nbsp;&nbsp;
            <a style="color: grey;font-size: small">妈妈网</a>&nbsp;&nbsp;
            <a style="color: grey;font-size: small">亲宝网</a>&nbsp;&nbsp;
            <a style="color: grey;font-size: small">糖豆网</a>&nbsp;&nbsp;
            <a style="color: grey;font-size: small">慧聪网</a>&nbsp;&nbsp;
            <div class="container">
                <a href="#top" style="float: right"><img src="picture/logo/gotop.png" style="position:fixed;bottom:0;height: 70px;height: 70px"></a>
            </div>
        </div>
        <div style="margin-top: 15px;color: grey;font-size: small;" >
            <li>版权所有&nbsp;&nbsp;@&nbsp;&nbsp;2014-2019&nbsp;&nbsp;
                <a style="color: grey">美食天下</a>&nbsp;&nbsp;保留所有版权-
                <a style="color: grey"><img src="picture/logo/beian.png"> 京公网安备 11010502031041号 </a>&nbsp;&nbsp;
                <img src="picture/logo/1550926251(1).png" style="float: right;"  >
            </li>
        </div>

        <!-- 条目中可以是任意内容，如：<img src=""> -->

        <script src="/static/build/layui.js"></script>
        <script>
            layui.use('carousel', function(){
                var carousel = layui.carousel;
                //建造实例
                carousel.render({
                    elem: '#test1'
                    ,width: '100%' //设置容器宽度
                    ,arrow: 'always' //始终显示箭头
                    //,anim: 'updown' //切换动画方式
                });
            });

            //注意：导航 依赖 element 模块，否则无法进行功能性操作
            layui.use('element', function(){
                var element = layui.element;


            });

        </script>
    </div>
    <script type="text/javascript">
        //checkbox 全选/取消全选
        var isCheckAll = false;
        function swapCheck() {
            if (isCheckAll) {
                $("input[type='checkbox']").each(function() {
                    this.checked = false;
                });
                isCheckAll = false;
            } else {
                $("input[type='checkbox']").each(function() {
                    this.checked = true;
                });
                isCheckAll = true;
            }
        }
    </script>
    <script>
        var  params = window.location.search;
        var app = new Vue({
            el:"#dd",
            data:{
                seen:true
            }
        })
        $(function() {
            $.ajax({
                type:"post",
                url:"user/login1.do",
                dataType:"json",
                success:function(data) {
                    if (data.code == 1) {
                        var infos = data.info;
                        if (infos != null) {
                           app.seen=false;
                        } else {
                            $("#user").html(infos.uName);
                        }
                    }
                },
                error:function () {
                    alert(data.info);
                }
            })
        })
    </script>
    <script>
    var appData=new Vue({
        el: '#info',
        data: {
            list:[]
        },

        mounted(){

            var _this=this;
            $.ajax({
                type:"post",
                url:"caipin/order.do",
                dataType:"json",
                async:false,
                success:function(data){
                    if (data.code == 1) {

                        _this.list=data.info;
                        console.log(_this.list)
                    }else {
                        alert(data.info);
                    }
                },
                error:function() {
                    alert("ajax请求失败");
                }
            })
        },
        methods: {
            spdetail: function (id) {
                var ret = window.confirm("是否删除");
                if (ret == false) {
                    return;
                }
                $.ajax({
                    type:"post",
                    url:"order/deleteOrder.do?oKId="+ id,
                    dataType:"json",
                    async:false,
                    success:function(data){
                        if (data.code==1) {
                            //alert("确认点菜？");
                            window.location.href="qingdan.html";
                        } else {
                            alert(data.info);
                        }
                    },
                    error:function() {
                        alert("ajax请求失败");
                    }
                })
            }
        }
    })
</script>
    <script>
       $(function () {
           $.ajax({
               type:"post",
               url:"caipin/total.do",
               dataType:"json",
               success:function(data){
                   if (data.code == 1) {
                       //alert(data.info);
                       $("p[name='totalPrice']").text(data.info);
                   }else {
                       alert(data.info);
                   }
               },
               error:function() {
                   alert("ajax请求失败");
               }
           })
       })
       function loginout() {
           $.ajax({
               type:"get",
               url:"user/loginout.do",
               dataType:"json",
               success:function(data) {
                   if (data.code==1){
                       window.location.href="index.html";
                   }
               },
               error:function () {
                   alert("ajax请求异常");
               }
           })
       }
    </script>
</div>
<script>
    var layer;
    layui.use(['layer','form'],function () {
        layer = layui.layer;
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            //layer.msg(JSON.stringify(data.field));
            $.ajax({
                url:"user/login.do",
                method:'post',
                data:$("#fm").serialize(),
                success:function (obj) {
                    if (obj.code == 1) {
                        layer.msg("登陆成功");
                        // alert(obj.info.uName);
                        window.location.href="qingdan.html";
                    } else {
                        layer.msg("登录失败"+ obj.code);
                    }
                }


            })
            return false;
        });
        form.on('submit(formD)', function(data){
            //layer.msg(JSON.stringify(data.field));
            var password = $("input[name='uPassword']").val();
            var repassword = $("input[name='repassword']").val();
            if (password != repassword) {
                alert("您两次输入的密码不同，请重新输入");
                return false;
            }
            // alert(password);
            // layer.msg($("#fm1").serialize());
            $.ajax({
                url:"user/adduser.do",
                method:"POST",
                data:$("#fm1").serialize(),
                success:function (obj) {
                    if(obj.code==1){
                        layer.msg("新增成功");
                        window.location.href="login.html"
                    }else{
                        layer.msg("新增失败："+obj.info);
                    }
                }
            });
            return false;
        });

    });
    function add() {
        layer.open({
            type:1,
            content:$("#fmadd"),
            area:['500px','300px']

        });
    }
    function zhuce() {
        layer.open({
            type:1,
            content:$("#zhu"),
            area:['500px','460px']

        });
    }
</script>
<div id="fmadd" class="layui-container" style="display: none;width: 500px">
    <form id="fm" class="layui-form" action="" style="background-color: white;margin-top: 40px;" onsubmit="return false">

        <div style="margin-top: 15px">
            <div class="layui-form-item" >
                <label class="layui-form-label" >用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="name" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input" style="width: 300px">
                </div>
            </div>
            <div class="layui-form-item" >
                <label class="layui-form-label" >密码</label>
                <div class="layui-input-block">
                    <input type="password" name="password" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input" style="width: 300px">
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="zhu" class="layui-container" style="display: none;width: 500px">
    <form  class="layui-form" action="" style="background-color: white;margin-top: 30px;" id="fm1" onsubmit="return false">

        <div style="margin-top: 15px">
            <div class="layui-form-item" >
                <label class="layui-form-label" >用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="uName" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input" style="width: 300px">
                </div>
            </div>
            <div class="layui-form-item" >
                <label class="layui-form-label" >密码</label>
                <div class="layui-input-block">
                    <input type="password" name="uPassword" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input" style="width: 300px">
                </div>
            </div>
            <div class="layui-form-item" >
                <label class="layui-form-label" >密码</label>
                <div class="layui-input-block">
                    <input type="password" name="repassword" required  lay-verify="required" placeholder="请再次输入密码" autocomplete="off" class="layui-input" style="width: 300px">
                </div>
            </div>
            <div class="layui-form-item" >
                <label class="layui-form-label" >手机号</label>
                <div class="layui-input-block">
                    <input type="text" name="uPhone" required  lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input" style="width: 300px">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="uGender" value="男" title="男">
                    <input type="radio" name="uGender" value="女" title="女" checked>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formD">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>